{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <div>
        <h4 class="float-left">Lista de Poderes</h4>
        <a type="button" class="btn btn-success float-right" href="{%url 'poder-create' %}">Create</a>
    </div>

    <div class="container-fluid row">
        {% for poder in poders %}
        <div class="col-lg-3 col-md-6 col-12 ">
            <div class="border m-1 p-3 rounded">
                <div>
                    <b>Nombre: &nbsp;</b>
                    <td>{{ poder.nombre }}</td>
                </div>
                <div>
                    <b>Descripcion: &nbsp;</b>
                    <td>{{ poder.descripcion }}</td>
                </div>
                <div class="row">
                    <div class="p-1 col-6">
                        <a type="button" class="btn btn-warning w-100" href="/poder-update/{{ poder.id }}">Actualizar</a>
                    </div>
                    <div class="p-1 col-6">
                        <a type="button" class="btn btn-danger w-100" href="/poder-delete/{{ poder.id }}">Borrar</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="m-1">
        <a type="button" class="btn btn-warning float-left" href="{%url 'heroe-list' %}">Administrador de Heroes</a>
    </div>
</div>
{% endblock %}